<div class="container">
    <h2>Search results</h2>
    <div>
        <% if(songs.length > 0) { %>
            <section class="song-list">
                <% songs.forEach(function(song){ %>
                    <article class="song">
                    <dl>
                        <dt>song artist:</dt>
                        <dd><%=song.Artist %>
                        </dd>
                    </dl>
                    <dl>
                        <dt>title:</dt>
                        <dd>
                            <%=song.Title %>
                        </dd>
                        </dl>
                        <dl>
                        <dt>chords available:</dt>
                        <dd>
                            <%=song.Chords %>
                        </dd>
                        </dl>
                    </article>

                <% }); %>    
                </section>
                <% } else{ %>
                    <p>No matching results, try again</p>
                    <a href="#" onclick="history.back();">Back</a>
                <% } %>
    </div>
</div>
