

<section>
<h1>Songsterr Chord Finder- home</h1>
<h3>Search by artist / band name</h3>
<div>
<a name="" id="" class="btn btn-lg" href="/search" role="button">Search</a>
</div>
<div>

</div>
</section>

