

<section>
<h1>Welcome to Songsterr Chord Finder!</h1>
<h2>Look for your favorite songs</h2>
<div class="wrapper-center">
 <button class="btn"><a href="/search">Start</a>
    </button>

</div>
<div>

</div>
</section>

